<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coocent.visualizerlib">

    <!-- In favor of gradle -->
    <!--
    android:versionCode="107"
    android:versionName="1.73" >
    -->


    <!-- In favor of gradle -->

         <!--<uses-sdk-->
        <!--android:minSdkVersion="15"-->
        <!--android:targetSdkVersion="28" />-->


    <!-- http://developer.android.com/guide/topics/manifest/supports-screens-element.html -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- For Google Drive -->
    <!-- uses-permission android:name="android.permission.GET_ACCOUNTS" -->
    <!-- For http playback -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- To check the connection state -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- See this: http://developer.android.com/reference/android/bluetooth/BluetoothHeadset.html#ACTION_AUDIO_STATE_CHANGED -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH" /> -->
    <!-- For scanning bluetooth devices -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- Apparently, a few devices require this.... (not only to make android.media.audiofx.PresetReverb work, but to control volume and other settings) -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <!--
     These three permissions are not classified as PROTECTION_NORMAL in Android M API 23
     https://developer.android.com/guide/topics/security/permissions.html#normal-dangerous
    -->
    <!-- For the immersive visualizer -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- http://developer.android.com/reference/android/Manifest.permission.html#READ_EXTERNAL_STORAGE -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- For exporting playlists -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- For Android 28 https://developer.android.com/about/versions/pie/android-9.0-migration#tya -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--
    Just to make Google Play show the App even to phones without Bluetooth,
    despite the uses-permission above!
    -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <!--
    Just to make Google Play show the App even to phones without a camera,
    despite the uses-permission above!
    -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!--
    Support for devices without touch, devices without microphone and TVs
    as described in http://developer.android.com/guide/topics/manifest/uses-feature-element.html
    -->
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <!-- Support for Chromebook and other PC-like devices with mouse and keyboard -->
    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false" />

    <!-- http://developer.android.com/intl/pt-br/reference/android/app/backup/BackupManager.html -->
    <!-- android:allowBackup="true" -->
    <!-- android:allowClearUserData="true" -->
    <!-- android:usesCleartextTraffic="true" -->
    <!-- android:killAfterRestore="true" -->
    <!-- android:restoreAnyVersion="false" -->
    <!-- android:icon="@mipmap/ic_launcher" -->
    <!-- android:banner="@mipmap/ic_launcher" -->
    <!-- android:label="@string/app_name" -->
    <!-- android:supportsRtl="true" -->
    <!-- android:fullBackupContent="@xml/backup_rules" -->
    <application android:theme="@style/AppTheme">

        <!-- &lt;!&ndash; http://stackoverflow.com/a/14185426/3569421 &ndash;&gt; -->
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.android7.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="320dp" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="320dp" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="320dp" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="320dp" />
        <!-- https://developer.android.com/guide/practices/screens_support.html#MaxAspectRatio -->
        <meta-data
            android:name="android.max_aspect"
            android:value="100.0" />

        <activity
            android:name=".VisualizerActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:multiprocess="false"
            android:resizeableActivity="true"
            android:stateNotNeeded="true"
            android:theme="@style/AppTheme" />
        <activity android:name=".test.TestVisualizerActivity" />
        <activity android:name=".test.TestFragementActivity" />
        <activity android:name=".VisualizerSimpleActivity" />
        <activity android:name=".test.TestSegmentTabActivity" />
        <activity android:name=".test.TestEmptyActivity"></activity>
    </application>

</manifest>