<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goyourfly.multiselectadapter">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppThemeMulti">
        <activity android:name=".MainActivityMulti">
        </activity>
        <activity android:name=".more.Demo1Activity" />
        <activity android:name=".more.Demo2Activity" />
        <activity android:name=".more.Demo3Activity" />
        <activity android:name=".more.Demo4Activity" />
        <activity android:name=".more.Demo5Activity" />
        <activity android:name=".more.Demo6Activity" />
        <activity android:name=".more.Demo7Activity" />
        <activity android:name=".MoreActivityMulti" />
    </application>

</manifest>