<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jan.jason.androidalldemos">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeMain"
        tools:replace="android:theme,android:name" >

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".transitions.TransitionMainActivity" />
        <activity android:name=".visualizer.VisualizerMainActivity" />
        <activity android:name=".visualizer.VisualizerDemoActivity" />
        <activity
            android:name=".visualizer.VisualizerMusicDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".visualizer.VisualizerMusicDetailActivity2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".transitions.activitytransition.TransitionStyleActivity"
            android:theme="@style/styleActivity" />
        <activity android:name=".transitions.activitytransition.TransitionOverridePendingActivity" />
        <activity android:name=".transitions.activitytransition.TransitionOptionsActivity" />
        <activity android:name=".transitions.activitytransition.TransitionOptionsMoreActivity" />
        <activity android:name=".transitions.activitytransition.TransitionDemoActivity"></activity>
        <activity android:name=".tools.ToolsMainActivity"/>
    </application>

</manifest>